@font-face {
  font-family: "PoetsenOne";
  src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: "Brushy";
  src: url(../fonts/bernadette_rough.ttf);
}

::-moz-selection {
  /* Code for Firefox */
  color: #000000;
  background: rgba(1, 1, 1, 0);
}

::selection {
  color: #000000;
  background: rgba(1, 1, 1, 0);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 5em;
  font-family: "PoetsenOne", sans-serif;
  line-height: 1em;
  text-align: center;
}

h2 {
  font-size: 3em;
  font-family: "Brushy", sans-serif;
  text-align: center;
  line-height: 1em;
}

h3 {
  text-align: center;
  font-size: 4em;
  font-family: "PoetsenOne", sans-serif;
  padding: 20px;
}

h4 {
  font-size: 3em;
  font-family: "PoetsenOne", sans-serif;
  font-size: 1.5em;
  padding: 1em;
}

h5 {
  font-size: 1.5em;
  font-family: "PoetsenOne", sans-serif;
  padding: 0.5em;
}

p {
  font-size: 22px;
  line-height: 1.6em;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: cyan;
}

body {
  background-color: #332272;
  color: white;
}

@supports (scroll-snap-type: mandatory) {
  body {
    scroll-snap-type: proximity;
    scroll-snap-type: mandatory;
  }
}

header {
  position: fixed;
  z-index: 1000;
  display: grid;
}

header ul {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

section {
  padding: 20px;
  min-height: 100vh;
  height: 100vh;
}

/* SVG graphics initial declaration */
.dont-render {
  position: absolute;
  height: 0;
  width: 0;
  fill: red;
}

@font-face {
  font-family: "PoetsenOne";
  src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: "Brushy";
  src: url(../fonts/bernadette_rough.ttf);
}

#title-container {
  padding: 0;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #ff7f1f;
}

#title-container h1, #title-container h2 {
  color: #ffe9c4;
}

#title-container .icon {
  fill: #ffe9c4;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

#title-container ul {
  max-width: 480px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
  fill: #ffe9c4;
}

#title-container ul li {
  padding: 20px;
}

#title-container ul li .nav-container {
  transition: all 0.6s;
  text-align: center;
}

#title-container ul li .nav-container img {
  margin: 0 auto;
}

#title-container ul li .nav-container h6 {
  color: #ffe9c4;
  transition: all 0.3s;
}

@media (max-width: 640px) {
  #title-container ul li .nav-container h6 {
    display: none;
  }
}

#title-container ul li:hover div {
  transform: translateY(-20px);
}

#title-container ul li:hover h6 {
  color: #040305;
}

#title-container ul li:hover .icon {
  fill: black;
}

.section-container {
  perspective: 1000px;
  overflow: hidden;
  scroll-snap-coordinate: 0 0;
  overflow-y: hidden;
}

.content-container h1 {
  text-align: center;
}

nav {
  background: cyan;
  height: 50px;
  width: 800px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
}

#about {
  background: #6bcdb1;
}

#about #about-bg-parent {
  overflow: hidden;
}

#about #about-bg-parent #about-bg {
  z-index: -1;
  position: absolute;
  background-image: url("/images/atom-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

#about .about-container {
  max-width: 50vw;
  display: grid;
  align-content: center;
  border: 1px solid yellow;
}

#about .about-container h3 {
  border: 1px solid red;
}

#about .about-container p {
  border: 1px solid cyan;
}

#projects {
  padding: 20px 0;
  background: #e86e90;
  overflow: hidden;
}

#projects #projects-container {
  display: flex;
  padding: 0px 5px;
  width: calc(100% - 5px);
  max-width: 1600px;
  margin: 0 auto;
}

#projects .project {
  border: 1px solid black;
  flex: 1;
  transition: all 0.5s;
  transition-delay: 0.2s;
  transform-origin: center;
  margin-right: 5px;
  height: 70vh;
  overflow: hidden;
  background: black;
}

#projects .project a {
  color: white;
}

#projects .project:hover {
  flex: 8;
}

#projects .project:hover .project-info-container {
  transform: translateY(0px);
  opacity: 1;
}

#projects .project .project-background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-image: url("/images/persona-project.png");
  transition: all 0.5s ease;
  z-index: 0;
}

#projects .project-info-container {
  margin-top: -110px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  transition-delay: 0.45s;
  opacity: 0;
  transform: translateY(30px);
}

#projects h4 {
  position: relative;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

#projects p {
  position: relative;
  padding: 0;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
}

#projects .project-description {
  overflow: hidden;
}

@media (max-width: 640px) {
  #projects .project-description {
    display: none;
  }
}

.project-button {
  transition: all 0.3s;
  border-radius: 2px;
  background-color: blue;
  display: inline-block;
  padding: 0 10px;
}

.project-button:hover {
  background: red;
  color: yellow;
}

.buttonDemo {
  transition: all 0.3s;
  border-radius: 2px;
  background-color: green;
  display: inline-block;
  padding: 0 10px;
}

.buttonDemo:hover {
  background: red;
  color: yellow;
}

.buttonSource {
  border-radius: 2px;
  padding: 0 10px;
  display: inline-block;
  background-color: gray;
  color: white;
}

.buttonSource:hover {
  background: teal;
}

.fakeButton {
  border-radius: 2px;
  padding: 0 10px;
  display: inline-block;
  color: gray;
  background: white;
}

.fakeButton a {
  color: gray;
}

.fakeButton:hover {
  color: gray;
}

#tools {
  background: #54418b;
}

#tools h3 {
  color: #e9576a;
}

#tools h3, #tools h4 {
  text-align: center;
  color: #ffe9c4;
}

#tools .tools-container {
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: 0 0 0;
  grid-template-columns: 0 0 0;
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 0 0 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  border: 1px solid red;
  height: 500px;
  width: 588px;
  transition: all 5s;
  margin: 0 auto;
}

#tools .tool-type {
  border: 1px solid lime;
  position: relative;
  transition: all 0.5s;
  padding: 20px;
  width: calc(588px - 40px);
  height: 300px;
  margin: 0 20px;
  background-color: #e9576a;
}

#tools .tool-type:nth-of-type(1) {
  grid-row: 1;
  grid-column: 2;
  transform: translate3d(0px, -100px, -200px);
}

#tools .tool-type:nth-of-type(2) {
  grid-row: 2;
  grid-column: 3;
  transform: translate3d(-350px, 0px, -100px);
}

#tools .tool-type:nth-of-type(3) {
  grid-row: 3;
  grid-column: 2;
  transform: translate3d(0, 100px, 10px);
}

#tools .tool-type:nth-of-type(4) {
  grid-row: 2;
  grid-column: 1;
  transform: translate3d(350px, 0px, -100px);
}

#tools .tool-type .tool-icons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

#tools .tool-type .icon-container {
  position: relative;
  padding: 10px;
  margin: 10px auto;
  background: #ffe9c4;
  border-radius: 10px;
}

#tools .tool-type .icon-container img {
  position: relative;
  width: 4em;
  height: 4em;
  transition-duration: 0.6s;
}

#tools .tool-type .icon-container:hover img {
  transform: rotate3d(0, 1, 0, 360deg);
}

#tools #skill-description {
  overflow: hidden;
  display: block;
  height: 5em;
  width: 500px;
  background-color: #e9576a;
  margin: 20px auto;
  text-align: center;
}

#tools #skill-description h5 {
  opacity: 0;
  color: #ffe9c4;
  transition: all 0.5s;
  transform: translateY(20px) scale(0.1) rotate3d(0, 1, 0, 270deg);
}

.tool-tip-show {
  opacity: 1 !important;
  transform: translateY(0px) scale(1) rotate3d(0, 0, 0, 0deg) !important;
  color: black;
}

#contact {
  background: #fdaf4b;
  background-image: url("/images/scrolling-background-test.png");
  background-image: url("/images/bg-texture01.png");
}

footer {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  align-content: center;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}

form {
  display: block;
  background: blue;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form input {
  display: block;
  margin: 0 0 20px;
  width: calc(100% - 40px);
}

form input[name=content] {
  height: 200px;
}

form input[type=submit] {
  width: 200px;
  margin: 0 auto;
}
