@font-face {
  font-family: "PoetsenOne";
  src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: "RalphieBrown";
  src: url(../fonts/valentine.ttf);
}

@font-face {
  font-family: "PixelFont";
  src: url(../fonts/yoshi.ttf);
}

@font-face {
  font-family: "Brushy";
  src: url(../fonts/bernadette_rough.ttf);
}

@font-face {
  font-family: "Coolvetica";
  src: url(../fonts/coolveticaRG.ttf);
}

::-moz-selection {
  /* Code for Firefox */
  color: #000000;
  background: rgba(1, 1, 1, 0);
}

::selection {
  color: #000000;
  background: rgba(1, 1, 1, 0);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 5em;
  font-family: "PoetsenOne", sans-serif;
  line-height: 0.5em;
}

h2 {
  font-size: 3em;
  font-family: "RalphieBrown", sans-serif;
  font-family: "Brushy", sans-serif;
}

h3 {
  text-align: center;
  font-size: 4em;
  font-family: "PoetsenOne", sans-serif;
  padding: 20px;
}

h4 {
  font-family: "RalphieBrown", sans-serif;
  font-size: 3em;
  font-family: "PoetsenOne", sans-serif;
  font-size: 1.5em;
  padding: 1em;
}

p {
  font-size: 22px;
  line-height: 1.6em;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: cyan;
}

body {
  background-color: #332272;
  color: white;
}

header {
  height: 100vh;
  display: grid;
}

header ul {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#title-container {
  width: 50vw;
  min-width: 640px;
  height: 150px;
  align-self: center;
  text-align: center;
}

nav {
  align-self: flex-end;
  background: cyan;
  height: 50px;
  width: 800px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
}

section {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.content-container {
  max-width: 50vw;
  border: 1px solid yellow;
}

#projects {
  width: 100%;
  padding: 20px 0;
  background: #efb2ba;
}

#projects ul {
  list-style: none;
  padding: 0;
  max-width: 1080px;
  margin: 0 auto;
}

#projects li {
  margin: 20px 0;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  background: black;
}

#projects li:hover .project-background {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
}

#projects li .project-background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-image: url("/images/persona-project.png");
  transition: all 0.5s ease;
  z-index: 0;
}

#projects h4 {
  position: relative;
  margin-top: -100px;
  padding: 0;
}

#projects p {
  position: relative;
  padding: 0;
  font-size: 1.2em;
}

@media (max-width: 640px) {
  #projects .project-description {
    display: none;
  }
}

#tools {
  background: #85b2d9;
}

#tools h4 {
  text-align: center;
}

#tools ul {
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
}

#tools li {
  background-color: teal;
}

#tools li .tool-icons {
  display: flex;
  justify-content: space-around;
}

#tools li img {
  width: 4em;
  height: 4em;
}

#tools li img:hover {
  transform: scale(1.2) rotate(15deg);
  -moz-transform: scale(1.2) rotate(15deg);
  transition-duration: 0.1s;
}

#tools p {
  height: 1.5em;
  width: 500px;
  background-color: orange;
  margin: 1em;
}

#about {
  background: #6bd8b8;
}

#contact {
  background: #fdaf4b;
}

@keyframes shake {
  0% {
    transform: translate(4px, 4px) rotate(2deg);
  }
  10% {
    transform: translate(-3px, -3px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 1px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(0deg);
  }
}

footer {
  height: 20vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}
