@font-face {
  font-family: "PoetsenOne";
  src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: "RalphieBrown";
  src: url(../fonts/valentine.ttf);
}

@font-face {
  font-family: "PixelFont";
  src: url(../fonts/yoshi.ttf);
}

@font-face {
  font-family: "Brushy";
  src: url(../fonts/bernadette_rough.ttf);
}

@font-face {
  font-family: "Coolvetica";
  src: url(../fonts/coolveticaRG.ttf);
}

::-moz-selection {
  /* Code for Firefox */
  color: #000000;
  background: rgba(1, 1, 1, 0);
}

::selection {
  color: #000000;
  background: rgba(1, 1, 1, 0);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 5em;
  font-family: "PoetsenOne", sans-serif;
  line-height: 1em;
  text-align: center;
}

h2 {
  font-size: 3em;
  font-family: "RalphieBrown", sans-serif;
  font-family: "Brushy", sans-serif;
  text-align: center;
  line-height: 1em;
}

h3 {
  text-align: center;
  font-size: 4em;
  font-family: "PoetsenOne", sans-serif;
  padding: 20px;
}

h4 {
  font-family: "RalphieBrown", sans-serif;
  font-size: 3em;
  font-family: "PoetsenOne", sans-serif;
  font-size: 1.5em;
  padding: 1em;
}

p {
  font-size: 22px;
  line-height: 1.6em;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: cyan;
}

body {
  background-color: #332272;
  color: white;
}

@supports (scroll-snap-type: mandatory) {
  body {
    scroll-snap-type: proximity;
    scroll-snap-type: mandatory;
  }
}

header {
  position: fixed;
  z-index: 1000;
  display: grid;
}

header ul {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

section {
  padding: 20px;
  min-height: 100vh;
  height: 100vh;
}

#title-container {
  padding: 0;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: orange;
}

#title-container ul {
  max-width: 480px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
}

#title-container ul li {
  transition: all 0.2s;
}

#title-container ul li img {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 640px) {
  #title-container ul li h6 {
    display: none;
  }
}

#title-container ul li:hover {
  transform: translateY(-20px);
  transform: rotate3d(0, 1, 0.5, 90deg);
}

.section-container {
  perspective: 1000px;
  overflow-x: hidden;
  scroll-snap-coordinate: 0 0;
  overflow-y: hidden;
}

.content-container {
  border: 1px solid yellow;
}

.content-container h1 {
  text-align: center;
}

nav {
  background: cyan;
  height: 50px;
  width: 800px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
}

#about {
  background: #6bcdb1;
}

#about .about-container {
  max-width: 50vw;
  display: grid;
  align-content: center;
  border: 1px solid yellow;
}

#about .about-container h3 {
  border: 1px solid red;
}

#about .about-container p {
  border: 1px solid cyan;
}

#projects {
  padding: 20px 0;
  background: #e86e90;
  overflow: hidden;
}

#projects #projects-container {
  display: flex;
  padding: 0px 5px;
  width: calc(100% - 5px);
  max-width: 1600px;
  margin: 0 auto;
}

#projects .project {
  border-radius: 10px;
  border: 1px solid black;
  flex: 1;
  transition: all 0.5s;
  transition-delay: 0.2s;
  transform-origin: center;
  margin-right: 5px;
  height: 70vh;
  overflow: hidden;
  background: black;
}

#projects .project a {
  color: white;
}

#projects .project:hover {
  flex: 8;
}

#projects .project:hover .project-info-container {
  transform: translateY(0px);
  opacity: 1;
}

#projects .project .project-background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-image: url("/images/persona-project.png");
  transition: all 0.5s ease;
  z-index: 0;
}

#projects .project-info-container {
  margin-top: -110px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  transition-delay: 0.45s;
  opacity: 0;
  transform: translateY(30px);
}

#projects h4 {
  position: relative;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

#projects p {
  position: relative;
  padding: 0;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
}

#projects .project-description {
  overflow: hidden;
}

@media (max-width: 640px) {
  #projects .project-description {
    display: none;
  }
}

.project-button {
  transition: all 0.3s;
  border-radius: 2px;
  background-color: blue;
  display: inline-block;
  padding: 0 10px;
}

.project-button:hover {
  background: red;
  color: yellow;
}

.buttonDemo {
  transition: all 0.3s;
  border-radius: 2px;
  background-color: green;
  display: inline-block;
  padding: 0 10px;
}

.buttonDemo:hover {
  background: red;
  color: yellow;
}

.buttonSource {
  border-radius: 2px;
  padding: 0 10px;
  display: inline-block;
  background-color: gray;
  color: white;
}

.buttonSource:hover {
  background: teal;
}

.fakeButton {
  border-radius: 2px;
  padding: 0 10px;
  display: inline-block;
  color: gray;
  background: white;
}

.fakeButton a {
  color: gray;
}

.fakeButton:hover {
  color: gray;
}

#tools {
  background: #7d6bcd;
}

#tools h4 {
  text-align: center;
}

#tools ul {
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
}

#tools li {
  background-color: teal;
}

#tools li .tool-icons {
  display: flex;
  justify-content: space-around;
}

#tools li img {
  width: 4em;
  height: 4em;
}

#tools li img:hover {
  transform: scale(1.2) rotate(15deg);
  -moz-transform: scale(1.2) rotate(15deg);
  transition-duration: 0.1s;
}

#tools p {
  height: 1.5em;
  width: 500px;
  background-color: orange;
  margin: 1em;
}

#contact {
  background: #fdaf4b;
  background-image: url("/images/scrolling-background-test.png");
  background-width: 200px;
}

footer {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  align-content: center;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}

@keyframes shake {
  0% {
    transform: translate(4px, 4px) rotate(2deg);
  }
  10% {
    transform: translate(-3px, -3px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 1px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(0deg);
  }
}

form {
  display: block;
  background: blue;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form input {
  display: block;
  margin: 0 0 20px;
  width: calc(100% - 40px);
}

form input[name=content] {
  height: 200px;
}

form input[type=submit] {
  width: 200px;
  margin: 0 auto;
}
