@import "variables";
@import "mixins";
@import "fonts";

//custom style any time the user tries to highlight text, removes background colour
@include selection(#000000,rgba(1,1,1,0));

* {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 5em;
    font-family: "PoetsenOne", sans-serif;


    //text-align: center;
}
h2 {
    font-size: 3em;
    font-family: "RalphieBrown", sans-serif;
    font-family: "Brushy", sans-serif;
    //font-family: "PixelFont", sans-serif;
    //text-align: center;
}
h3 {

    text-align: center;
    font-size: 4em; // was 3em;
    font-family: "PoetsenOne", sans-serif;

    //font-family: "Brushy", sans-serif;
    //font-size: 5em;
    padding: 20px;
    //font-family: "RalphieBrown", sans-serif;
    //font-size: 5em;
}
h4 {

    font-family: "RalphieBrown", sans-serif;
    font-size: 3em;
    font-family: "PoetsenOne", sans-serif;

    font-size: 1.5em;
    //font-family: "Brushy", sans-serif;
    //font-size: 2.5em;
    padding: 1em;
}
p {
    //font-family: "Coolvetica", sans-serif;
    font-size: 22px;
    line-height: 1.6em;
    padding: 0.5em;
}

body {
    background-color: $purpleBackground;
    color: white;
}

header {
    height: 100vh;
}

nav {
    background: cyan;
}

section {
    padding: 20px;
    height: 100vh;
}

.content-container{
    max-width: 50vw;//800px;
    //margin: 0 auto;
    border: 1px solid yellow;
}

#projects {
    background: $pink-lite;
    ul {
        list-style: none;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    li {
        background: $pink-dark;

    }
}

#tools {
    background: $blue;
    h4 {
        text-align: center;
    }
    ul {
        max-width: 800px;
        margin: 0 auto;
        list-style: none;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr); // todo: should depend on the size of the screen
        align-content: center;
        justify-content: center;
    }
    li {
        background-color: teal;
        .tool-icons{
            display: flex;
            justify-content: space-around;
            //justify-content: center;
        }
        img {
            width: 4em;
            height: 4em;
            &:hover{
                @include zoom(1.2);
                //transform:
                transition-duration: 0.1s;
            }
        }
    }
    p {
        //grid-row: 3;
        height: 1.5em;
        width: 500px;
        background-color: orange;
        margin: 1em;
    }

}

#about {
    background: $teal;
}

#contact {
    background: $orange;
}

@keyframes shake {
  0% { transform: translate(4px, 4px) rotate(2deg); }
  10% { transform: translate(-3px, -3px) rotate(-2deg); }
  20% { transform: translate(-3px, 1px) rotate(1deg); }
  30% { transform: translate(3px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-0deg); }
  80% { transform: translate(-1px, -1px) rotate(0deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(0deg); }
}



footer {
    height: 20vh;
    display: grid;
    align-content: center;
    justify-content: center;
    p {

        text-align: center;
        font-size: 0.8em;
    }
}
