@import "variables";
@import "mixins";
@import "fonts";

//custom style any time the user tries to highlight text, removes background colour
@include selection(#000000,rgba(1,1,1,0));

* {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

.buttonDemo{
    background-color: green;
    //border: 1px solid red;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0 10px;
    &:hover{
        background: red;
        color: yellow;
    }
}

.buttonSource{
    margin: 0 0 0 20px;
    padding: 0 10px;
    display: inline-block;
    background-color: gray;
    color: white;
    &:hover{
        background: teal;
    }
}

.fakeButton{
    margin: 0 0 0 20px;
    padding: 0 10px;
    display: inline-block;
    color: gray;
    background: white;
    &:hover{
        color: gray;
    }
}

h1 {
    font-size: 5em;
    font-family: "PoetsenOne", sans-serif;
    line-height: 0.5em;

    //text-align: center;
}
h2 {
    font-size: 3em;
    font-family: "RalphieBrown", sans-serif;
    font-family: "Brushy", sans-serif;
    //font-family: "PixelFont", sans-serif;
    //text-align: center;
}
h3 {

    text-align: center;
    font-size: 4em; // was 3em;
    font-family: "PoetsenOne", sans-serif;

    //font-family: "Brushy", sans-serif;
    //font-size: 5em;
    padding: 20px;
    //font-family: "RalphieBrown", sans-serif;
    //font-size: 5em;
}
h4 {

    font-family: "RalphieBrown", sans-serif;
    font-size: 3em;
    font-family: "PoetsenOne", sans-serif;

    font-size: 1.5em;
    //font-family: "Brushy", sans-serif;
    //font-size: 2.5em;
    padding: 1em;
}
p {
    //font-family: "Coolvetica", sans-serif;
    font-size: 22px;
    line-height: 1.6em;
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: yellow;
    &:hover{
        color: cyan;
    }
}

body {
    background-color: $purpleBackground;
    color: white;
}

header {
    //height: 100vh;
    position: fixed;
    z-index: 1000;
    display: grid;
    //grid-template-rows: 100px 100px;
    ul {
        width: 800px;
        //margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

}

#title-container{
    width: 100vw;
    min-width: 640px;
    //height: 150px;
    height: 100vh;
    align-self: center;
    background-color: orange;

    text-align: center;
}

body {
    @supports (scroll-snap-type: mandatory){
        //scroll-snap-type: mandatory; // snaps directly to the right section always
        scroll-snap-type: proximity; // allows slight scrolling between sections
    }
}

.section-container {
    // we need to apply perspective to the parent container or it won't work in all browsers (chrome lets us do the wrong method though)
    perspective: 1000px;
    overflow-x: hidden;
    scroll-snap-coordinate: 0 0;
    height: 100vh;
    overflow-y: hidden;
}

section {
    padding: 20px;
    min-height: 100vh;
    height: 100vh;
    transition: all 0.3s;
    //filter: grayscale(100%);
    // > * {
    //     filter: blur(4px);
    // }
    &:hover{
        //filter:grayscale(0%);
        // > * {
        //     filter: blur(0);
        // }
    }
}
.content-container{
    max-width: 50vw;//800px;
    //margin: 0 auto;
    border: 1px solid yellow;
}

nav {
    //align-self: center;
    //align-self: flex-end;
    background: cyan;
    height: 50px;
    width: 800px;
    margin: 0 auto;
    ul {
        list-style: none;
        display: flex;
        //flex:
        flex-direction: horizontal;
        justify-content: space-around;
    }

}



#projects {
    width: 100%;
    padding: 20px 0;
    background: $section3;//$pink-lite;
    height: 100vh;

    ul {
        list-style: none;
        padding: 0;
        max-width: 1080px;
        margin: 0 auto;
    }
    li {
        //border: 1px solid yellow;
        //display: flex;
        //flex-direction: column;
        //flex-wrap: wrap;
        //justify-content: flex-end;
        //display: grid;
        //grid-template-rows: 100% 50% 0 0;
        &:hover{

            .project-background{
                @include scale(1.2);
            }
        }

        margin: 20px 0;
        height: 30vh;//20vh;//calc(20vh - 40px);
        width: 100%;
        overflow: hidden;
        background: black;

        .project-background{
            //background-position: 50% 50%;//center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            background-position: 50% 50%;
            background-image: url("/images/persona-project.png");
            transition: all 0.5s ease;
            z-index: 0;
            // &:nth-child(1){
            //
            // }
            // &:nth-of-type(2){
            //     background-image: url("/images/gamegrid-project.png");
            // }
            // &:nth-of-type(3){
            //     background-image: url("/images/engineface-project.png");
            // }
            // &:hover{
            //     @include scale(1.2);
            // }
        }


    }
    h4{
        position: relative;
        margin-top: -100px;
        padding: 0;
    }
    p {
        position: relative;
        padding: 0;
        font-size: 1.2em;

    }
    .project-description {
        //color: red;
        @media (max-width: 640px) {
            display: none; // hide on small screens
        }
    }
}

#tools {
    background: $section1; //purple //$blue;
    height: 100vh;
    h4 {
        text-align: center;
    }
    ul {
        max-width: 800px;
        margin: 0 auto;
        list-style: none;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr); // todo: should depend on the size of the screen
        align-content: center;
        justify-content: center;
    }
    li {
        background-color: teal;
        .tool-icons{
            display: flex;
            justify-content: space-around;
            //justify-content: center;
        }
        img {
            width: 4em;
            height: 4em;
            &:hover{
                @include zoom(1.2);
                //transform:
                transition-duration: 0.1s;
            }
        }
    }
    p {
        //grid-row: 3;
        height: 1.5em;
        width: 500px;
        background-color: orange;
        margin: 1em;
    }

}

#about {
    background: $section2;// $teal;
    height: 100vh;
}

#contact {
    background: $orange;
    height: 100vh;
}

@keyframes shake {
  0% { transform: translate(4px, 4px) rotate(2deg); }
  10% { transform: translate(-3px, -3px) rotate(-2deg); }
  20% { transform: translate(-3px, 1px) rotate(1deg); }
  30% { transform: translate(3px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-0deg); }
  80% { transform: translate(-1px, -1px) rotate(0deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(0deg); }
}



footer {
    height: 20vh;
    display: grid;
    align-content: center;
    justify-content: center;
    p {

        text-align: center;
        font-size: 0.8em;
    }
}
