@import "variables";
@import "mixins";
@import "fonts";

//custom style any time the user tries to highlight text, removes background colour
@include selection(#000000,rgba(1,1,1,0));

* {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 5em;
    font-family: "PoetsenOne", sans-serif;
    line-height: 1em; // was 0.5 for some reason?
    text-align: center;
}
h2 {
    font-size: 3em;
    font-family: "Brushy", sans-serif;
    text-align: center;
    line-height: 1em;
}
h3 {
    text-align: center;
    font-size: 4em; // was 3em;
    font-family: "PoetsenOne", sans-serif;
    //font-size: 5em;
    padding: 20px;
    //font-size: 5em;
}
h4 {
    font-size: 3em;
    font-family: "PoetsenOne", sans-serif;
    font-size: 1.5em;
    //font-size: 2.5em;
    padding: 1em;
}
h5 {
    font-size: 1.5em;
    font-family: "PoetsenOne", sans-serif;
    padding: 0.5em;
}
p {
    //font-family: "Coolvetica", sans-serif;
    font-size: 22px;
    line-height: 1.6em;
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: yellow;
    &:hover{
        color: cyan;
    }
}

body {
    background-color: $purpleBackground;
    color: white;
    @supports (scroll-snap-type: mandatory){
        scroll-snap-type: proximity; // allows slight scrolling between sections
        scroll-snap-type: mandatory; // snaps directly to the right section always
    }
}

header {
    position: fixed;
    z-index: 1000;
    display: grid;
    ul {
        width: 800px;
        //margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
}

section {
    padding: 20px;
    min-height: 100vh;
    height: 100vh;

    &:hover{
    }
}

/* SVG graphics initial declaration */
.dont-render{
    position: absolute;
    height: 0;
    width: 0;
    fill: red;
}

// title/header section
@import "title";

// about section
@import "about";

// projects section
@import "projects";

// tools sections
@import "tools";

// contact page
@import "contact";
