#tools {
    background: $purple-twitter;//$section1; //purple //$blue;

    //height: 100vh;
    h3 {
        color: $red-twitter;
    }
    h3,h4 {
        text-align: center;
        color: $white-samurai;
    }
    ul {
        max-width: 800px;
        margin: 0 auto;
        list-style: none;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr); // todo: should depend on the size of the screen
        align-content: center;
        justify-content: center;
    }
    li {
        width: 35vw;
        padding: 20px;
        background-color: $red-twitter;//teal;
        .tool-icons{
            display: flex;
            justify-content: space-around;
            //justify-content: center;
        }
        .icon-container{
            padding: 10px;
            background: $white-samurai;
            border-radius: 10px;
            //border: 1px solid yellow;
            img {
                width: 4em;
                height: 4em;
                transition-duration: 0.6s;
            }
            &:hover{
                img {
                    //@include zoom(1.2);
                    //transform: translateY(10px);
                    transform: rotate3d(0,1,0, 360deg);
                }
            }
        }
    }

    #skill-description {
        //overflow: hidden;
        display: block;
        //transition: all 5s;
        //border: 1px solid yellow;
        height: 5em;
        width: 500px;
        background-color: $red-twitter;//orange;
        margin: 20px auto;
        text-align: center;

        h5{
            opacity: 0;
            color: $white-samurai;
            transition: all 0.5s;//0.2s;
            transform: translateY(20px) scale(0.1) rotate3d(0,1,0, 270deg);
        }
    }
}

.tool-tip-show{
    opacity: 1 !important;
    transform: translateY(0px) scale(1) rotate3d(0,0,0, 0deg) !important;
    color: black;
}
