// headers type 1
@font-face {
    font-family: "PoetsenOne";
    src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: "Brushy";
    src: url(../fonts/bernadette_rough.ttf);
}

// main body typeface
// @font-face { // bad! bad bad bad!!!!
//     font-family: "Coolvetica";
//     src: url(../fonts/coolveticaRG.ttf);
// }
