// colours
$purpleBackground: #332272;
$teal: #6bd8b8;


$pink: #c069b0;
$pink-lite: #efb2ba;
$pink-dark: #a044a9;

$blue: #85b2d9;

$orange: #fdaf4b;



$section1: #7d6bcd; // purple
$section2: #6bcdb1; // teal
$section3: #e86e90; // rose




// new colour tests: Saul Bass etc
$orange-samurai: #ff7f1f;
$white-samurai: #ffe9c4;
$black-samurai: #040305;



// new purple red
$purple-twitter: #54418b;
$red-twitter: #e9576a;
